@import 'fonts';

$body-copy-color: lighten(desaturate(#7A38C5,30%),10%);
$body-copy-size: 18px;
$body-font: 'haptik-light';
$heading-color: darken($body-copy-color,25%);
$heading-font: 'haptik-bold';
$colors-1: $heading-color;
$colors-2: #D94297;
$colors-3: #7A38C5;
$colors-4: #FFB948;
$subdued-color: desaturate(lighten($heading-color,50%),40%);

html, body{
  color: $body-copy-color;
  font-size: $body-copy-size;
  font-family: $body-font;
}

h1,h2,h3,h4,h5{
  font-family: $heading-font;
}
p{
  font-family: $body-font;
}

//tilty!!
.styled-letters{
  display: inline-block;
  position: relative;
  letter-spacing: .1em;
  @include perspective(500px);
  @include perspective-origin(center center);
  &>*{
    display: inline-block;
    @include transform(rotateZ(15deg));
    @include transform-origin(50% 100%);
  }
}

@include keyframes(tilty){
  from{
    @include transform(rotateZ(15deg));
  }
  to{
    @include transform(rotateZ(-15deg));
  }
}


header{
  padding: 0;
  margin: 0;
}

nav{
  position: fixed;
  left: 50%;
  top: 50%;

  @include transform( translate3d(-50%,-50%,0));
  @include perspective(300px);

  .tagline{
    text-align: center;
    font-size: $body-copy-size;
    font-weight: normal;
    width: 18em;
    margin: 2em 0 0 0;

    &:hover{
      .delight:before{
        @include animation(1.5s fader 0s linear infinite alternate);
      }
      .delight:after{
        @include animation(1.5s fader 1s linear infinite alternate);
      }
      .surprise>*{
        @include animation(tilty 1s ease-in-out infinite alternate);
      }
    }

    p{
      margin: 0.5em 0;
    }

    .surprise{
      color: $colors-2;
      font-weight: 300;
      font-size: 26px;
      font-family: 'haptik-reg';
    }
    .amp{
      color: $body-copy-color;
      font-weight: 100;
      font-size: 20px;
      font-family: $body-font;
    }
    .delight{
      color: $colors-4;
      background: url(../assets/img/delight.svg) 0 bottom / contain no-repeat;
      color: transparent;
      font-size: 26px;
      position: relative;
      bottom: -.1em;
      letter-spacing: -.07em;
      &:after,
      &:before{
        content: '';
        background: url(../assets/img/dazzle.svg) center center / contain no-repeat;
        width: 16px;
        height: 16px;
        position: absolute;
        right: -12%;
        bottom: -18%;
        opacity: 1;
      }
      &:before{
        left: 14%;
        top: -35%;
        width: 18px;
        height: 18px;
      }

    }
  }
}

nav .identity{

  text-align: center;
  display: block;
  margin: 0;
  padding: 0;

  >a{
    width: 300px;
    height: 216px;
    background: url(../assets/img/rog.ie.svg) center center no-repeat;
    background-size: 270px 194px;
    font-size: 0;
    color: transparent;
    color: rgba(0,0,0,0);
    margin: 0 auto;
    padding: 0;
    display: block;
    position: relative;
    @include animation(1.25s band ease-in-out);
    @include filter(url(#logo-shadow));
  }

  .confetti.celebrate{
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    bottom: auto !important;
    right: auto !important;
    height: 0 !important;
    width: 0 !important;
    display: block;
    @include transform(translate(-50%,-50%));
    @include filter(url(#confetti-shadow));

  }
}

.confetti.celebrate .particle{
  opacity: 0;
  &.play{
    @include animation(1s fader linear);
  }
}

@include keyframes(fader){
  0% {
    opacity : 0;
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity : 0;
  }
}

@include keyframes(logo-enter){
 from {
   transform: translate3d(0,300%,-200px);
 }
 50%{
   transform: translate3d(0,0,0) rotateY(90deg);
 }
 to {
   transform: scale3d(1, 1, 1)  rotateY(0);
 }
}

@include keyframes(band){
from {
   transform: translate3d(0,100%,-500px) scale3d(0.5, 1, 1) rotateX(-35deg);
   opacity: 0;
 }
 30% {
   transform: scale3d(1.5, 0.75, 1);
   opacity: 1;
 }
 40% {
   transform: scale3d(0.65, 1.25, 1);
 }
 50% {
   transform: scale3d(1.15, 0.85, 1);
 }
 65% {
   transform: scale3d(.95, 1.05, 1);
 }
 75% {
   transform: scale3d(1.05, .95, 1);
 }
 to {
   transform: scale3d(1, 1, 1);
 }
}
